/* 
#40BB36
#1D8315 
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", sans-serif;
    animation: fade-in 0.5s;
}

.nav-main {
    box-shadow: 0px -0.5px 2px #464646;
    padding-left: 20px;
    padding-right: 20px;
}

.row{
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.nav-img img {
    height: 100px;
    margin: 0px 60px 0px 60px;
}

.nav-links a {
    text-decoration: none;
    margin: 20px;
    font-size: 15px;
    color: #464646;
    line-height: 100px;
    text-transform: uppercase;
    padding: 10px;
    font-weight: 600;
}

.nav-links a:hover {
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    background-color: #40BB36;
    border-bottom: 3px solid #1D8315;
}

.nav-links {
    text-align: center;
    margin: auto;
}

.nav-socials {
    text-align: center;
    margin: auto;
}

.fa {
    padding: 20px;
    color: #464646;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}
.fa:hover {
    text-decoration: none;
    color: #40BB36;
}
.navbar input[type="checkbox"], .navbar .hamburger-lines{
    display: none;
}
.menu-items li{
    list-style: none;
}

/* MAIN */

.container{
    margin: auto !important;
    padding: 0px 50px 0px 50px;
    text-align: center;
}
.img-head{
    background-image: url(../images/contact-banner.webp);
    height: 150px;
    background-size: cover;
    padding: 40px 0px;
    box-shadow: 0px 0px 0px 100px rgba(0, 0, 0, 0.568) inset;
    margin-top: 20px;
}
.head-text{
    font-size: 40px;
    color: #fff;
}
.main-logo img{
    width: 150px;
}
.main-cont{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.main-cont span{
    margin: 0px 20px;
}
.main-cont a{
    color: #1D8315;
}
.main-cont a:hover{
    color: #40BB36;
    text-decoration: none;
}
.form-map{
    display: flex;
    flex-direction: row;
}
.form-wrapper{
    margin: 20px 0px;
    width: 50%;
}
.form-wrapper p{
    font-size: 30px;
}
.inpt{
    border: none;
    outline: none;
    margin: 10px;
    width: 60%;
    background-color: #F3F5F8;
    padding: 5px;
}
.form-wrapper input:active, textarea:active{
    border-left: #1D8315 3px solid;
}
#submit{
    padding: 10px 50px;
    font-size: 20px;
    background-color: #40BB36;
    border: none;
    border-left: #1D8315 3px solid;
    color: #fff;
    font-weight: 400;
}
#submit:hover{
    background-color: #1D8315;
    border-left: #40BB36 3px solid;
}
.text-map{
    margin: 20px 0px;
    width: 50%;
}
.map{
    background-color: #F3F5F8;
    padding: 10px;
    margin: 10px;
}
.text-map p{
    font-size: 30px;
}
.text-map iframe{
    width: 100%;
}

/* MAP */
.mapouter {
    position: relative;
    height: 300px;
    width: 100%;
    margin: auto;
}
.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 300px;
    width: 100%;
    border: #40BB36 3px solid;
}

/* FOOTER */
.footer-main {
    box-shadow: 0px 0.5px 2px #464646;
    text-align: center;
}

.footer-socials {
    text-align: center;
}

.footer-name span {
    font-size: 20px;
}

.footer-name p {
    margin-bottom: 5px;
}

.no {
    color: #1D8315;
}

.no:hover{
    color: #40BB36;
    text-decoration: none;
}

.footer-copywrite {
    margin-top: 10px;
    background-color: #1D8315;
    color: #fff;
}

/* SCROLL BAR */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #464646;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #40BB36, #1D8315);
}

::-webkit-scrollbar-thumb:hover {
    background: #1D8315;
}

/* ANIMATION */
@keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

/* RESPONSIVE */

/* NAVBAR */
@media (max-width: 768px) {
    .nav-links a {
        line-height: 0px;
        padding: 20px;
        font-size: 20px;
    }
    .nav-img {
        text-align: center;
    }
    .navbar {
        z-index: 100;
        width: 50% !important;
        display: inline-block;
    }
    .nav-socials {
        width: 50% !important;
        display: inline-block;
        text-align: end;
    }
    .fa {
        padding: 10px;
    }
    input[type="checkbox"], .hamburger-lines {
        display: block;
    }
    .navbar-container {
        display: block;
        position: relative;
        height: 64px;
    }
    .navbar-container input[type="checkbox"] {
        position: absolute;
        display: block;
        height: 32px;
        width: 30px;
        z-index: 5;
        opacity: 0;
        cursor: pointer;
    }
    .navbar-container .hamburger-lines {
        display: block;
        height: 28px;
        width: 35px;
        position: absolute;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .navbar-container .hamburger-lines .line {
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #464646;
    }
    .navbar-container .hamburger-lines .line1 {
        transform-origin: 0% 0%;
        transition: transform 0.3s ease-in-out;
    }
    .navbar-container .hamburger-lines .line2 {
        transition: transform 0.2s ease-in-out;
    }
    .navbar-container .hamburger-lines .line3 {
        transform-origin: 0% 100%;
        transition: transform 0.3s ease-in-out;
    }
    .navbar .menu-items {
        background: #fff;
        text-align: start;
        width: 50vw;
        transform: translate(-150%);
        display: flex;
        flex-direction: column;
        margin-left: -40px;
        padding-left: 0px;
        padding-top: 40px;
        transition: transform 0.5s ease-in-out;
        box-shadow: 0px 1px 6px -1px #464646;
    }
    .navbar-container input[type="checkbox"]:checked~.menu-items {
        transform: translateX(0);
    }
    .navbar-container input[type="checkbox"]:checked~.hamburger-lines .line1 {
        transform: rotate(45deg);
    }
    .navbar-container input[type="checkbox"]:checked~.hamburger-lines .line2 {
        transform: scaleY(0);
    }
    .navbar-container input[type="checkbox"]:checked~.hamburger-lines .line3 {
        transform: rotate(-45deg);
    }
}


@media screen and (max-width: 480px){ 

    /* MAIN */
    .fa{
        padding: 10px;
    }
    .main-cont{
        flex-direction: column;
    }
    .form-map{
        flex-direction: column;
        text-align: center;
        border-top: #40BB36 3px solid;
    }
    .form-wrapper, .text-map{
        width: 100%;
    }

    /* FOOTER */
    .footer-copywrite{
        font-size: 12px;
    }
}